<div class="container text-center">
  <h2>Welcome to Angular 17 application</h2>
</div>

<div class="container" style="height: 100vh">
  <div class="row align-items-center">
    <figure class="text-center" style="margin: 2rem">
      <blockquote class="blockquote">
        <p>
          This is an example application to showcase Angular 17 functionalities
        </p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Created by <cite title="Source Title">Janitha Tennakoon</cite>
      </figcaption>
    </figure>
  </div>
</div>
